@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.df {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bb {
  border-bottom: 3px solid grey;
}

.logo-wrap {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  width: 35%;
}
.logo-wrap p {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 24px;
}
.logo-wrap .logo {
  background-image: url("./photo-cv.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

.about {
  height: 400px;
  padding: 50px 20px;
  width: 60%;
}
.about h1 {
  font-size: 56px;
  margin-bottom: 10px;
}
.about h3 {
  font-size: 33px;
  margin-top: 30px;
}
.about p {
  font-size: 18px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .contacts {
  width: 35%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}
.info .contacts h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.info .contacts h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
.info .contacts a {
  text-decoration: none;
  color: black;
}
.info .skills {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 20px;
}
.info .skills h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.info .skills ul {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
}
.info .skills ul li {
  width: 200px;
}

.education {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education .language {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  height: 400px;
}
.education .language .lang-wrap {
  margin-top: 15px;
}
.education .language h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.education .language h5 {
  font-size: 22px;
  margin-top: 10px;
}
.education .language p {
  font-size: 18px;
  margin-top: 5px;
}
.education .educ-block {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}
.education .educ-block h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.education .educ-block .educ-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.education .educ-block .educ-item .item-place h4 {
  font-size: 22px;
  margin-bottom: 5px;
}
.education .educ-block .educ-item .item-place h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
.education .educ-block .educ-item .item-place h6 {
  font-size: 16px;
}
.education .educ-block .educ-item .item-date p {
  font-size: 18px;
  margin-bottom: 5px;
}
.education .educ-block .educ-item .item-date p span {
  font-weight: bold;
}

.experience {
  display: flex;
  justify-content: space-between;
  height: 180px;
}
.experience .exp-left {
  width: 35%;
}
.experience .exp-right {
  padding: 20px;
  width: 60%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.experience h3 {
  font-size: 30px;
}
.experience .exp-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.experience .exp-item h4 {
  font-size: 24px;
  margin-bottom: 5px;
}
.experience .exp-item h5 {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */