@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.df {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bb {
  border-bottom: 3px solid grey;
}

.logo-wrap {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  width: 35%;

  & p {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
  }

  & .logo {
    background-image: url('./photo-cv.jpg');
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
  }
}

.about {
  height: 350px;
  padding: 10px;
  width: 60%;

  & h1 {
    font-size: 56px;
    margin-bottom: 10px;
  }

  & h3 {
    font-size: 33px;
    margin-top: 30px;
  }

  & p {
    font-size: 18px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .contacts {
    width: 35%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;

    & h3 {
      font-size: 30px;
      margin-bottom: 5px;
    }

    & h5 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    & a {
      text-decoration: none;
      color: black;
    }
  }

  & .skills {
    width: 60%;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    & h3 {
      font-size: 30px;
      margin-bottom: 25px;
    }

    & ul {
      display: flex;
      flex-wrap: wrap;
      height: 150px;

      & li {
        width: 200px;
      }
    }
  }
}

.education {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .language {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 35%;
    height: 350px;

    & .lang-wrap {
      margin-top: 15px;
    }

    & h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    & h5 {
      font-size: 22px;
      margin-top: 10px;
    }

    & p {
      font-size: 18px;
      margin-top: 5px;
    }
  }

  .educ-block {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;

    & h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .educ-item {
      display: flex;
      justify-content: space-between;
      width: 80%;

      & .item-place {
        & h4 {
          font-size: 22px;
          margin-bottom: 5px; 
        }
        & h5 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        & h6 {
          font-size: 16px;
        }
      }

      & .item-date {
        & p {
          font-size: 18px;
          margin-bottom: 5px;

          & span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.left {
  width: 35%;
}

.right {
  width: 60%;
}

.experience {
  display: flex;
  justify-content: space-between;
  height: 140px;

  & .exp-right {
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  & h3 {
    font-size: 30px;
  }

  & .exp-item {
    display: flex;
    justify-content: space-between;
    width: 80%;

    & h4 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    & h5 {
      font-size: 20px;
    }
  }
}

.projects {
  display: flex;
  justify-content: space-between;

  & .projects-right {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h3 {
      font-size: 30px;
    }

    & a {
      text-decoration: none;
      color: rgb(25, 0, 255);
      font-size: 18px;
    }

    & .project-item {
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      & h4 {
        font-size: 24px;
      }

      & p {
        font-size: 18px;
      }
    }
  }
}